
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__pypackages__/
*/src/*bkup.py

# Related to virtual env:
pyvenv.cfg
bin/*
etc/*
lib/*
share/*

# Personal notes:
notes_*.txt
data/*
